APP_PORT=8000
APP_METRICS_PORT=8001
APP_ENV=development
APP_CLIENT_URL=http://127.0.0.1:3000
APP_CLIENT_NAME=horizon
APP_TOKEN=QehRgLLzmuxe3ZRXCNz1d7cUcEnTfw
APP_NAME=y19vvNWSBqLRgrKjK5BBcyhMHVfHK2

# Dedicated linode postgresql database
SOKETI_HOST=127.0.0.1
SOKETI_PORT=6001
SOKETI_APP_ID=UsvEDZyiUTzl4Sgyo3RmB2S1gcuvHyld8255ZE8cJXEL0MLcE02DSC4rEpCtPcS3
SOKETI_APP_KEY=8KxrqyQiVuoIbVryU8tTPcoJW9RtAVI8Khqrb5rv3Wb8eW8foXGmxwC0jbgEJvGd
SOKETI_APP_SECRET=UHwKf88sVorrqZ1YLDPI1lktf3Jazf9VLqTFHH8jxLaehI6BgM4cKhv0vH7c5fMf
SOKETI_APP_CLIENT=oKTdmK62aMjTdObaSyjijAUdYMmWXr3zZEmKw2c7UAhRMYib3xqHBLybcMuX8MwX
SOKETI_URL=http://127.0.0.1:6001/apps/UsvEDZyiUTzl4Sgyo3RmB2S1gcuvHyld8255ZE8cJXEL0MLcE02DSC4rEpCtPcS3/events

# Dedicated linode postgresql database
POSTGRES_USER=dev
POSTGRES_PASSWORD=devpass
POSTGRES_DB=devdb
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

ADMIN_POSTGRES_USER=dev
ADMIN_POSTGRES_PASSWORD=devpass
ADMIN_POSTGRES_DB=devdb
ADMIN_POSTGRES_PORT=5432
ADMIN_POSTGRES_HOST=127.0.0.1
ADMIN_DATABASE_URL=postgres://${ADMIN_POSTGRES_USER}:${ADMIN_POSTGRES_PASSWORD}@${ADMIN_POSTGRES_HOST}:${ADMIN_POSTGRES_PORT}/${ADMIN_POSTGRES_DB}?sslmode=disable

# Dedicated linode server
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=password
REDIS_USERNAME=default

# Linode obect store / minio / s3 / linode
STORAGE_API_PORT=9000
STORAGE_DRIVER=minio
STORAGE_ACCESS_KEY=5pMiSk03Lt7yft5gXwe8L4EMXKXduE
STORAGE_SECRET_KEY=nimcCJvW7N2L8yChupPiJcEBqxQ8Wc
STORAGE_BUCKET=lands-horizon
STORAGE_URL=127.0.0.1:${STORAGE_API_PORT}
STORAGE_REGION=us-east-1
STORAGE_MAX_SIZE=10485760


# PASSWORD SECURITY (SERVER)
PASSWORD_MEMORY=65536
PASSWORD_ITERATIONS=3
PASSWORD_PARALLELISM=2
PASSWORD_SALT_LENTH=16
PASSWORD_KEY_LENGTH=32
PASSWORD_SECRET=Nh4Qq5niSFmK8Cjmp9zfbYQGWLvqRc
OTP_SECRET=6D90qhBCfeDhVPewzED22XCqhtUJKR
QR_SECRET=uHGxCbn3mb18mHwM6HPS13q5q9XRDq

# For email (SMTP can work on any server)
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=dev@local.test
SMTP_TEST_RECIEVER=sample@gmail.com


# Use the twillio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SENDER=+17753803931
TWILIO_TEST_RECIEVER=

# used only for deploying to linode server
# automatically with github actions
LINODE_HOST=
LINODE_USER=
LINODE_KNOWN_HOST=
LINODE_SSH_PRIVATE_KEY=


# User interfaces
PGADMN_DEFAULT_PORT=8002
PGADMIN_DEFAULT_EMAIL=admin@127.0.0.1.com
PGADMIN_DEFAULT_PASSWORD=adminpass
PGADMIN_HOST=127.0.0.1
REDISINSIGHT_HOST=127.0.0.1
REDISINSIGHT_PORT=5540
STORAGE_CONSOLE_PORT=9001
MAILPIT_UI_HOST=127.0.0.1
MAILPIT_UI_PORT=8025
SOKET_UI_PORT=127.0.0.1