services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
    command: postgres -c listen_addresses='*'
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql
      - ./config:/docker-entrypoint-initdb.d
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL}"
      PGADMN_DEFAULT_PORT: "${PGADMN_DEFAULT_PORT}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
    ports:
      - "${PGADMN_DEFAULT_PORT}:80"
    depends_on:
      - postgres
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
    command: >
      redis-server
      --requirepass "${REDIS_PASSWORD}"
      --bind 0.0.0.0
    ports:
      - "6379:6379"
    networks:
      - app-network

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: always
    ports:
      - "${REDISINSIGHT_PORT}:${REDISINSIGHT_PORT}"
    depends_on:
      - redis
    networks:
      - app-network

  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: always
    ports:
      - "${MAILPIT_SMTP_PORT:-1025}:1025"
      - "${MAILPIT_UI_PORT:-8025}:8025"
    networks:
      - app-network

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    command: server /data --console-address ":${STORAGE_CONSOLE_PORT}"
    environment:
      MINIO_ROOT_USER: "${STORAGE_ACCESS_KEY}"
      MINIO_ROOT_PASSWORD: "${STORAGE_SECRET_KEY}"
    ports:
      - "${STORAGE_API_PORT}:9000"
      - "${STORAGE_CONSOLE_PORT}:9001"
    volumes:
      - minio_data:/data
    networks:
      - app-network

  soketi:
    image: quay.io/soketi/soketi:latest
    container_name: soketi
    restart: always
    environment:
      SOKETI_DEBUG: "1"
      SOKETI_METRICS_SERVER_PORT: "9601"
      SOKETI_DEFAULT_APP_ID: "${SOKETI_APP_ID}"
      SOKETI_DEFAULT_APP_KEY: "${SOKETI_APP_KEY}"
      SOKETI_DEFAULT_APP_SECRET: "${SOKETI_APP_SECRET}"
      SOKETI_ADAPTER_DRIVER: redis
      SOKETI_REDIS_HOST: redis
      SOKETI_REDIS_PORT: 6379
      SOKETI_REDIS_PASSWORD: "${REDIS_PASSWORD}"

    ports:
      - "${SOKETI_PORT}:6001"
      - "9601:9601"
    depends_on:
      - redis
    networks:
      - app-network

volumes:
  pgdata:
  minio_data:

networks:
  app-network:
    driver: bridge
