# fly.toml app configuration file generated for cooperatives-development on 2025-06-22T15:40:52+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cooperatives-development'
primary_region = 'sin'

[build]
  [build.args]
    BUILDKIT_INLINE_CACHE = "1"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  internal_port = 8000
  protocol = "tcp"
  processes = ["app"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[[vm]]
  memory = '8gb'
  cpu_kind = 'performance'
  cpus = 4


  